<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Available</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.number %></td>
        <td><%= room.available %></td>
        <td><%= link_to 'Show', room %></td>
      </tr>
    <% end %>
  </tbody>
</table>
